body {
  background-color: rgb(33, 104, 18);

}

.card img{
  
  width: 100px;
  
}

.card {
  
  background-color: blueviolet;
  


}

.table {
  
  background-color: red;
  display: flex;
  align-items: center;

}





