body {
  background-color: rgb(33, 104, 18);

}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh
}


.card img{
  
  width: 100px;
  
}

.card {
  
  background-color: blueviolet;
  display: flex;
  


}






