body {
  background-color: rgb(33, 104, 18);

}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.hand{
  background-color: blue;
  display: flex;
  
}


.card img{
  width: 100px;
}

.card {
  display: inline-flex;
  background-color: blueviolet;
  margin: 6px;
}






